:root {
  --bar-height: 40px;
}

html,
body,
#main-map {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

#main-map {
  flex: 1;
  width: 100%;
  height: 100%;
  z-index: 100;
}

body {
  display: flex;
}

#app-loader {
  align-self: center;
  justify-self: center;
}

#info-content {
  padding: 0.75rem;
}

calcite-rating {
  margin-top: 0.25rem;
}

#layers-panel {
  display: flex;
  flex-direction: column;
  gap: 10% vh;
}

#color-swatch{
  width:100%;
  height:var(--bar-height);
  margin-top:20px; 
  background-color: transparent;
  position: relative;
  overflow-x: hidden;
}

#color-swatch calcite-button {
  position:absolute;
  /* without the next 3 lines, the buttons wont be center-aligned with the ACTUAL value on the slider */
  top:50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  --calcite-button-border-color: black;
  transition: 0.2s ease;
}

/* vertical lines for color ramp breaks */
.vertical {
  border-left: 3px solid black;
  height:var(--bar-height);
  position:absolute;
}